@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
/*     margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body{
    /* background-color: #e0e1db; */
    background-color: #f2f5f7;
    font-family: "Inter", sans-serif;
    margin: 5%;
    line-height: 1.6;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(145, 199, 201, 0.4);

}

header{
    text-align: center;
    color: #000000;
    padding: 20px 0;
    border-radius: 8px 8px 8px 8px;
    background-image: url('./images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
header figure img{
    border-radius: 50%;
    border: 5px solid rgb(145, 199, 201);
    box-shadow: 0 0 10px 0;
}

header h1{
    font-size: 2em;
    margin-top: 10px;
    color: #f15b40;
}

header h2{
    font-size: 1.2em;
    opacity: 0.7;
    color: #f15b40;
}

header h3{
    font-size: 1.4em;
    margin-top: 20px;    
    color: rgba(0, 0, 0, 1);
}

section{
    background-color: #fffdf7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(145, 199, 201, 0.1);
}

section hr{
    border: 0;
    height: 2px;
    background: #318183;
    margin: 10px 0;
}

ul{
    list-style: none;
}
ul li{
    padding: 5px 0;
}
address p{
    margin: 5px 0;
}
address a{
    color: #216cae;
    text-decoration: none;
}

i{
    color: #318183;
    margin-right: 8px;
}

article{
    margin-bottom: 15px;
}

/* Creación de clase*/

.container{
    background-color: #318183;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #91c7c9;
    /* margin: 5%; */
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}

.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;
}

.cabecera{
    position: relative;
}

.nombre_puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}